/* Step 1: Import custom font from Google Fonts */
@font-face {
    font-family: 'F1Font';
    src: url('Formula1-Regular_web_0.ttf') format('truetype');
}


/* Step 2: Define your own style for Select widget */
.my-select .bk-input {
    font-family: 'F1Font', sans-serif !important;  /* Use the custom font */
    background-color: #ffffff !important;           /* White background */
    color: #e60000 !important;                      /* Red text */
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    padding: 4px;
}
